*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Container{
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%)    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 22.7rem;
    width: 30rem;
    border-radius: 15px;
}

.image{
    width: 50%;
   
}

.image img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.content{
    width: 50%;
padding:15px 30px 15px 30px;

}

.preview{
    padding-bottom: 10px;
}

h1{
    padding-bottom: 15px;
    font-weight: 700;
}

p{
    padding-bottom: 15px;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: row;
    column-gap: 1.7rem;
    align-items: center;
    justify-content: center;
     font-weight: 700;
    
}



    
.price span{
    font-size: 12px;
    align-items: center;
    margin-bottom :12px ;
}

.price p{
    font-weight: 700;
    font-size: 30px; 
    color: hsl(158, 36%, 37%) ;
}

button{
    width: 100%;
    height: 40px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 9px;
    margin-bottom: 20px;
}



button:hover{
    background-color:hsl(158, 39%, 17%) ;
}
/* .preview{
    padding: 1rem;
    font-family: 'Montserrat',sans-serif;
    color: hsl(228, 12%, 48%);
}

.content h1{ 
    padding-left: 1rem;
    font-family: 'Feaunces', serif;
    padding: 1rem 0;

}

.content .p{
    font-family: 'Montserrat',sans-serif;
    padding: 1rem 0;
    font-size: 12px;
} */