* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.Container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.product-container {
  display: flex;
  flex-direction: row;
  width: 560px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  margin: auto;
}

.product-container .image img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#heading {
  padding: 30px;
  font-size: 14px;
}

.content-desc h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 0 30px 20px;
  font-family: "Fraunces", serif;
}

.content-desc p {
  padding: 0 30px 20px;
  font-size: 14px;
}

.price {
  display: flex;
  align-items: center;
  font-family: "Fraunces", serif;
}

#money {
  font-size: 30px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.add-to-cart {
  padding: 10px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  margin: 0 30px 30px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: hsl(158, 41%, 15%);
}

@media (max-width: 375px) {

  .Container{
    height: 500px;
    background-color: hsl(30, 38%, 92%);
  }
  .product-container {
    flex-direction: column;
    height: 550px;
    width: auto;
    padding: 20px;
    background-color:  hsl(0, 0%, 100%);
  }
  }
